body {
  font-family: "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HG明朝B, "MS Mincho", serif;

  /* duke the background */
  background-image: url("duke.svg");
  background-position: bottom left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 25%;

  /* centering */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /* 文字の縁取り */
  text-shadow:
    0    1px  white,
    1px  0    white,
    0    -1px white,
    -1px 0    white,
    -1px -1px white,
    1px  -1px white,
    -1px 1px  white,
    1px  1px  white;
}

p, span {
  white-space: pre-line;
}

#loading {
  animation: blink ease-in-out 1s infinite alternate;
  margin: 1em;
  text-align: center;
  padding-bottom: 12vh;
}

#wrapper {
  visibility: collapse;
  opacity: 0;
  transition: opacity 1s ease-in;

  text-align: justify;
  line-height: 150%;
  /* バランスを取るために、少し上げる */
  padding-bottom: 12vh;
}

#quote:before {
  content: "〝";
}

#quote:after {
  content: "〟";
}

#cite {
  margin-left: 1ex;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}
