body {
  font-family: "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HG明朝B, "MS Mincho", serif;

  /* duke the background */
  background-image: url("duke.svg");
  background-position: bottom left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 25%;

  /* centering */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* loading white page */
#loading {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: 1;
}

#loading.loaded {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-out, visibility 1s;
}

/* quote style */
blockquote {
  text-align: justify;
  text-decoration: none;

  line-height: 150%;
  /* バランスを取るために、少し上げる */
  padding-bottom: 12vh;

  /* 文字の縁取り */
  text-shadow:
    0    1px  white,
    1px  0    white,
    0    -1px white,
    -1px 0    white,
    -1px -1px white,
    1px  -1px white,
    -1px 1px  white,
    1px  1px  white;
}

#quote {
  white-space: pre-line;
}

#quote:before {
  content: "〝";
}

#quote:after {
  content: "〟";
}

#cite {
  margin-left: 1ex;
}
